/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 19 de mai. de 2025, 08:46:08
    Author     : morat
*/

.sidebar .nav-item.active > .nav-link {
    color: #a700ff !important; /* Cor roxa */
    font-weight: bold; /* Opcional: para dar mais destaque */
    /* Outros estilos que você quiser aplicar para indicar que está ativo */
}

.sidebar .nav-item.active > .nav-link:hover {
    cursor: pointer; /* Opcional: cursor de "clicável" mesmo quando ativo */
}


